[Unit]
Description={{APP_DESCRIPTION}}
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{EXEC_START_FINAL}}
EnvironmentFile={{WORKING_DIR}}/.env
Restart=always
StandardOutput=append:{{WORKING_DIR}}/app.log
StandardError=append:{{WORKING_DIR}}/error.log

[Install]
WantedBy=multi-user.target